<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-domain"></i>
    </span>
    Informacion del negocio
  </h3>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <form (ngSubmit)="actulizarInfoNegocio(f)" #f='ngForm'>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Datos Bar / Antro</h4>
                  <div class="form-group">
                    <label for="nombre">Nombre Bar / Antro</label>
                    <input [disabled]="true" type="text" [(ngModel)]="negocio.nombre" class="form-control" id="nombre" name="nombre"
                           placeholder="Nombre bar / antro">
                  </div>
                  <div class="form-group">
                    <label for="ubicacion">Direccion:</label>
                    <input type="text" [(ngModel)]="negocio.ubicacion" class="form-control" id="ubicacion"
                           name="ubicacion" placeholder="Direccion del bar">
                  </div>
                  <div class="form-group">
                    <label for="id_categoria">Categoria:</label>
                    <select [(ngModel)]="negocio.idcategoria" class="form-control" id="id_categoria"
                            name="id_categoria">
                      <option value="2">Antro</option>
                      <option value="1">Bar</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="informacion">Informacion:</label>
                    <textarea [(ngModel)]="negocio.informacion" class="form-control" id="informacion"
                              name="informacion" placeholder="Escribe una breve descripcion del lugar"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card-body">
                <h4>Ubicacion del negocio</h4>
                <agm-map [zoom]="11" (mapClick)="getMapClick($event)" [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
                <button type="submit" class="btn btn-gradient-info btn-block mt-5">Editar informacion</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
