<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-domain"></i>
    </span>
    Horarios del negocio
  </h3>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <form>
                  <h4 class="card-title">Horarios: </h4>
                  <div class="form-group row">
                    <label for="Lunes" class="col-sm-3 col-form-label">Lunes:</label>
                    <div class="col-sm-6">
                      <input type="time" [(ngModel)]="lunesinicio" class="form-control" id="lunes_inicio"
                             name="lunes_inicio" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Inicio</label>
                    <div class="col-sm-6 offset-3">
                      <input type="time" [(ngModel)]="lunesfin" class="form-control" id="lunes_fin" name="lunes_fin"
                             placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Fin</label>
                    <label for="Lunes" class="col-sm-3 col-form-label">Martes:</label>
                    <div class="col-sm-6">
                      <input type="time" [(ngModel)]="martesinicio" class="form-control" id="martes_inicio"
                             name="martes_inicio" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Inicio</label>
                    <div class="col-sm-6 offset-3">
                      <input type="time" [(ngModel)]="martesfin" class="form-control" id="martes_fin" name="martes_fin"
                             placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Fin</label>
                    <label for="Lunes" class="col-sm-3 col-form-label">Miercoles:</label>
                    <div class="col-sm-6">
                      <input type="time" [(ngModel)]="miercolesinicio" class="form-control" id="miercoles_inicio"
                             name="miercoles_inicio" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Inicio</label>
                    <div class="col-sm-6 offset-3">
                      <input type="time" [(ngModel)]="miercolesfin" class="form-control" id="miercoles_fin"
                             name="miercoles_fin" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Fin</label>
                    <label for="Lunes" class="col-sm-3 col-form-label">Jueves:</label>
                    <div class="col-sm-6">
                      <input type="time" [(ngModel)]="juevesinicio" class="form-control" id="jueves_inicio"
                             name="jueves_inicio" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Inicio</label>
                    <div class="col-sm-6 offset-3">
                      <input type="time" [(ngModel)]="juevesfin" class="form-control" id="jueves_fin" name="jueves_fin"
                             placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Fin</label>
                    <label for="Lunes" class="col-sm-3 col-form-label">Viernes:</label>
                    <div class="col-sm-6">
                      <input type="time" [(ngModel)]="viernesinicio" class="form-control" id="viernes_inicio"
                             name="viernes_inicio" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Inicio</label>
                    <div class="col-sm-6 offset-3">
                      <input type="time" [(ngModel)]="viernesfin" class="form-control" id="viernes_fin"
                             name="viernes_fin" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Fin</label>
                    <label for="Lunes" class="col-sm-3 col-form-label">Sabado:</label>
                    <div class="col-sm-6">
                      <input type="time" [(ngModel)]="sabadoinicio" class="form-control" id="sabado_inicio"
                             name="sabado_inicio" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Inicio</label>
                    <div class="col-sm-6 offset-3">
                      <input type="time" [(ngModel)]="sabadofin" class="form-control" id="sabado_fin" name="sabado_fin"
                             placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Fin</label>
                    <label for="Lunes" class="col-sm-3 col-form-label">Domingo:</label>
                    <div class="col-sm-6">
                      <input type="time" [(ngModel)]="domingoinicio" class="form-control" id="domingo_inicio"
                             name="domingo_inicio" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Inicio</label>
                    <div class="col-sm-6 offset-3">
                      <input type="time" [(ngModel)]="domingofin" class="form-control" id="domingo_fin"
                             name="domingo_fin" placeholder="19">
                    </div>
                    <label for="" class="col-sm-3 col-form-label">Fin</label>
                  </div>
                  <button type="submit" class="btn btn-gradient-info float-right">Editar horarios</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
