<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-account-multiple"></i>
    </span>
    Administradores
  </h3>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <form (ngSubmit)="registrarRoot(f)" #f='ngForm'>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Datos administrador iParty</h4>
                  <div class="form-group">
                    <label for="email">Email administrador</label>
                    <input type="email" [(ngModel)]="usuario.email"
                           name="email"
                           class="form-control"
                           id="email"
                           placeholder="Escribe email del administrador"
                           required
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                           #email="ngModel">
                    <div class="alert alert-danger mt-1" *ngIf="email.errors?.required && email.touched" >
                      El correo electronico es necesario.
                    </div>
                    <div class="alert alert-danger mt-1" *ngIf="email.errors?.pattern && email.touched">
                      Escribe un correo electrocio valido.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" [(ngModel)]="usuario.password"
                           name="password"
                           class="form-control"
                           id="password"
                           required
                           minlength="5"
                           placeholder="Escribe una contraseña"
                           #password='ngModel'>
                    <div class="alert alert-danger mt-1" *ngIf="password.errors?.required && password.touched" >
                      La contraseña es necesaria.
                    </div>
                    <div class="alert alert-danger mt-1" *ngIf="password.errors?.minlength && password.touched">
                      Minimo debe tener 5 caracteres
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Nombre">Nombre:</label>
                    <input type="text" [(ngModel)]="usuario.nombre"
                           name="nombre" class="form-control"
                           id="Nombre"
                           required
                           placeholder="Escribe un nombre para administrador"
                           #nombre='ngModel'>
                    <div class="alert alert-danger mt-1" *ngIf="nombre.errors?.required && nombre.touched" >
                      El nombre es necesario.
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="fecha_nacimiento">Fecha nacimiento:</label>
                    <input type="date" [(ngModel)]="usuario.fecha_nacimiento"
                           name="fecha_nacimiento"
                           class="form-control"
                           id="fecha_nacimiento"
                           required
                           #fecha_nacimiento = 'ngModel'>
                    <div class="alert alert-danger mt-1" *ngIf="fecha_nacimiento.errors?.required && fecha_nacimiento.touched" >
                      La fecha de nacimiento es necesaria.
                    </div>
                  </div>
                  <button class="btn btn-gradient-success">Registrar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                  Administradores iParty
                </h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Email</th>
                      <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let root of roots; let i = index">
                      <td>{{root.email}}</td>
                      <td>
                        <button (click)="eliminarUsuario(root.id, root.email, i)" class="badge badge-danger" > Eliminar </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
