
body{
background: url('/../../../assets/fondos/fondo1.jpg') no-repeat center center fixed !important;
background-size: cover !important;
-moz-background-size: cover !important;
-webkit-background-size: cover !important;
-o-background-size: cover !important;

}
