<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-plus-box"></i>
    </span>
    Eventos - negocio
  </h3>
  <button class="btn btn-gradient-success float-right">Agregar</button>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4 class="card-title">busqueda por fecha</h4>
            <form class="forms-sample">
              <div class="row">
                <div class="col-6">
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Fecha:</label>
                    <div class="col-sm-9">
                      <input type="date" class="form-control" id="exampleInputUsername2" placeholder="Fecha">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <button type="submit" class="btn btn-gradient-primary mr-2">Buscar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="../../../../assets/fondos/fondo1.jpg" style="width: 100%">
              <h4 class="card-title mt-3">Coronavairus fest 5.0</h4>
              <h5 class="card-title mt-1"> 2070/12/2 </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
