<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-plus-box"></i>
    </span>
    Eventos - negocio
  </h3>
  <button class="btn btn-gradient-success float-right" routerLink="/eventos/registrar">Agregar</button>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4 class="card-title">busqueda por fecha</h4>
            <form class="forms-sample">
              <div class="row">
                <div class="col-6">
                  <div class="form-group row">
                    <label for="fecha" class="col-sm-3 col-form-label">Fecha:</label>
                    <div class="col-sm-9">
                      <input type="date" [(ngModel)]="fecha" name="fecha" class="form-control" id="fecha" placeholder="Fecha">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <button (click)="obtenerEventosFecha()" type="submit" class="btn btn-gradient-primary mr-2">Buscar</button>
                  <button (click)="limpiarEventos()" type="submit" class="btn btn-gradient-primary mr-2">Limpiar</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <div *ngIf="isLoading" class="spinner-wrapper-cargar">
                  <div class="donut-cargar"></div>
                </div>
                <div *ngIf="eventos.length == 0 && isLoading == false" class="alert alert-warning">
                  <h4>No hay eventos</h4>
                </div>
              </div>
              <div *ngFor="let evento of eventos; let i = index;" class="col-4">
                <div class="card">
                  <img [src]="evento.foto" style="width: 100%">
                  <div class="row">
                    <div class="col-7">
                      <h4 class="card-title mt-3">{{evento.nombre}}</h4>
                      <h5 class="card-title mt-1"> {{evento.fecha | date}} </h5>
                    </div>
                    <div class="col-5 mt-4">
                      <button [routerLink]="['/eventos/editar/', evento.id]"  class="d-block badge badge-warning"> Editar </button>
                      <button (click)="eliminarEvento(evento.id, i)" class="d-blocke badge badge-danger mt-1" > Eliminar </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
